/* that thing in the header */

.searchBtn {
    border-radius: 3px;
    border: #ffffff 1px solid;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: rgb(227,223,219);
    background: -moz-linear-gradient(0deg, rgba(227,223,219,1) 60%, rgba(255,254,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(227,223,219,1) 60%, rgba(255,254,255,1) 100%);
    background: linear-gradient(0deg, rgba(227,223,219,1) 60%, rgba(255,254,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e3dfdb",endColorstr="#fffeff",GradientType=1);
    padding: 4px 8px 4px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 0 0;
    transition: linear 0.1s;
    outline: 1px #194e7f solid;
}

.searchBtn > span {
    color: #000000 !important;
    font-weight: 500 !important;
}

.searchBtn:hover {
    transition: linear 0.1s;
    border: 1px #6791b9 solid;
    outline: 1px #194e7f solid;
    color: #000;
}

.searchBtn:active {
    background: rgb(213,195,177);
    background: -moz-linear-gradient(0deg, rgba(213,195,177,1) 60%, rgba(254,232,209,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(213,195,177,1) 60%, rgba(254,232,209,1) 100%);
    background: linear-gradient(0deg, rgba(213,195,177,1) 60%, rgba(254,232,209,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5c3b1",endColorstr="#fee8d1",GradientType=1);
    transition: linear 0.1s;
    border: 1px #ffc83c solid;
    outline: 1px #b96d1d solid;
    color: #000;
}

.whatFind {
    width: 100px !important;
}

#srch > #searcher > #typer {
    width: 100px !important;
    margin: 0;
    padding: 2px;
}

#srch > #searcher > #searchInput {
    width: 150px !important;
    border-radius: 3px;
    box-shadow: 3px 3px #21408380;
}

/* search page sidebar */

.searchOptions {
    overflow: hidden;
    width: 153px;
    border-top: 1px solid #E5E7E6;
    float: right;
    scrollbar-width: none;
    font-size: 12px;
    background-color: #789ae2;
    margin-right: -12px;
    padding-left: 6px;
}

.searchOptionName {
    transition: 0.2s linear;
    color: #234376 !important;
    background: rgb(255,253,255);
    background: -moz-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    background: linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdff",endColorstr="#bcd3ff",GradientType=1);
    width: 96%;
    border: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.searchOption {
    background: rgb(215 222 248);
    margin-right: 7px;
    margin-bottom: 9px;
    border: 1px #f5fdff solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.searchOptionBlock {
    padding-left: 6px;
}

.searchHide {
    display: none;
}

.searchList > a {
    transition: 0.2s linear;
    color: #234376 !important;
    background: rgb(255,253,255);
    background: -moz-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    background: linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(188,211,255,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdff",endColorstr="#bcd3ff",GradientType=1);
    width: 87%;
    border: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.searchList #used {
    color: #234376 !important;
    background: rgb(255,253,255);
    background: -moz-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(196,255,188,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(196,255,188,1) 95%);
    background: linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(196,255,188,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdff",endColorstr="#c4ffbc",GradientType=1);
    width: 87%;
    border: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.searchList > a:hover {
    border: 0;
    width: 87%;
    transition: 0.2s linear;
    background: rgb(255,253,255);
    background: -moz-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(255,219,188,1) 95%);
    background: -webkit-linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(255,219,188,1) 95%);
    background: linear-gradient(90deg, rgba(255,253,255,1) 5%, rgba(255,219,188,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffdff",endColorstr="#ffdbbc",GradientType=1);
}